<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/ChrisGruen/ChessManager/ViewHelpers"
      data-namespace-typo3-fluid="true">

	<div class="table-responsive">
		<table class="table">
		    <tr>
		 		<th>UID</th>
		        <th>Player</th>
		        <th>DWZ</th>
		        <th></th>
		    </tr>
		    <f:for each="{players}" as="player">
		        <tr>
			    <td>{player.uid}</td>
		            <td>{player.name}</td>
		            <td>{player.dwz}</td>
			    <td>
				<f:link.action action="showplayer" arguments="{playerUid : player.uid}">show</f:link.action>
			    </td>
		        </tr>
		    </f:for>
		</table>
	</div>
	
</html>
