<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/ChrisGruen/ChessManager/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h4>Saison </h4>
<f:form action="index" controller="ChessResult" noCache="1">
<f:form.select name="saison" class="select-saison" options="{saisons}" optionValueField="key" optionLabelField="value" value="{saison_select}" />
<f:form.submit value="Submit" />
</f:form>

<table border="1" cellspacing="1" cellpadding="5">
    <tr>
        <td colspan="7">Datum: <f:format.date format="d.m.Y">{results.0.dateMatch}</f:format.date></td>
    </tr>
    <f:for each="{results}" as="result">
        <tr>
            <td align="top">{result.uid}</td>
            <td align="top"><n:showTeam team='{result.homeTeam}' /></td>
            <td align="top">{result.homePoint1}</td>
            <td> : </td>
            <td align="top">{result.awayPoint1}</td>
            <td align="top"><n:showTeam team='{result.awayTeam}' /></td>
            <td align="top">{result.homePoint1}</td>
        </tr>
    </f:for>
</table>
</html>
