<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/ChrisGruen/ChessManager/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h4 class="text-center">Unsere Punktspiele in der Spielklasse: {saison_leage}</h4>
<h4 class="text-center">
    <f:link.action action="index" arguments="{year : year_saison_min}">&laquo;</f:link.action>
    Saison {show_saison}
    <f:link.action action="index" arguments="{year : year_saison_plus}">&raquo;</f:link.action>
</h4>
<br />
<f:if condition="{results} > 0">
    <f:form action="list" id="fsaison" controller="ChessResult" noCache="1">
        <f:form.hidden name="year" value="{year_saison_start}" />
        <f:form.select name="round" class="select-round" options="{rounds}" optionValueField="key" optionLabelField="value" value="{round}" />
        <f:form.submit value="Zeige" />
    </f:form>
    
	<div class="table-responsive">
	    <table class="table">
	        <tr>
	            <th colspan="7">Datum: <f:format.date format="d.m.Y">{results.0.dateMatch}</f:format.date></th>
	        </tr>
	        <f:for each="{results}" as="result">
	            <tr>
	                <td>{result.uid}</td>
	                <td><n:showTeam team='{result.homeTeam}' /></td>
	                <td>{result.homePoint1}</td>
	                <td> : </td>
	                <td>{result.awayPoint1}</td>
	                <td><n:showTeam team='{result.awayTeam}' /></td>                
	                <td>
	                	<f:link.action action="resultplayer" arguments="{scorereport : result.uid, round : result.roundGame, saison : result.saisonGame, class : result.classGame, hometeam : result.homeTeam, awayteam : result.awayTeam }"><n:CheckResultPlayer reportid='{result.uid}' /></f:link.action>
					</td>
	            </tr>
	        </f:for>
	    </table>
    </div>
    	
    <br /><br />
    <div class="table-responsive">
	    <table class="table">
	        <tr>
	            <th colspan="8">Tabelle Rangliste</th>
	        </tr>
			<f:for each="{ranglist}" as="rang" key="key">
		        <tr>
				    <td>{key+1}</td>
				    <td>{rang.team.team}</td>
				    <td>({rang.count_match})</td>
				    <td>{rang.score_plus}</td>
				    <td> : </td>
				    <td>{rang.score_min}</td>
				    <td>{rang.points1}</td>
				    <td>{rang.points2}</td>
				</tr>	
	        </f:for>
	    </table>
    </div>
</f:if>
</html>

