<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/ChrisGruen/ChessManager/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h2>Einzelergebnisse</h2>
<br /><br />

{f:variable(name: 'result_myteam_total', value: 0)}
{f:variable(name: 'result_opponent_total', value: 0)}
<f:if condition="{hometeam} == '1'">
	<f:then>
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th colspan="6">
						Einzelergebnisse: Runde {round} / Saison {saison} <br />
						<n:showTeam team='{hometeam}' /> - <n:showTeam team='{awayteam}' />
					</th>
				</tr>
				<f:for each="{resultplayers}" as="resultplayer" iteration="iterator">
					{f:variable(name: 'result_myteam_total', value: '{result_myteam_total + resultplayer.result_myteam}')}
					{f:variable(name: 'result_opponent_total', value: '{result_opponent_total + resultplayer.result_opponent}')}
					<tr>
			            <td>{resultplayer.uid}</td>
			            <td>{resultplayer.name}</td>
			            <td>{resultplayer.result_myteam}</td>
			            <td> : </td>
			            <td>{resultplayer.result_opponent}</td>
			            <td>{resultplayer.player_opponent}</td>
			         </tr>		
				</f:for>
					<tr>
						<th></th>
						<th></th>
						<th>{result_myteam_total}</th>
						<th> : </th>
						<th>{result_opponent_total}</th>
						<th></th>
					</tr>
			</table>
		</div>
	</f:then>
	<f:else>
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th colspan="6">
						Einzelergebnisse: Runde {round} / Saison {saison} <br />
						<n:showTeam team='{hometeam}' /> - <n:showTeam team='{awayteam}' />
					</th>
				</tr>
				<f:for each="{resultplayers}" as="resultplayer">
					{f:variable(name: 'result_myteam_total', value: '{result_myteam_total + resultplayer.result_myteam}')}
					{f:variable(name: 'result_opponent_total', value: '{result_opponent_total + resultplayer.result_opponent}')}
					<tr>
			            <td>{resultplayer.uid}</td>
			            <td>{resultplayer.result_opponent}</td>
			            <td>{resultplayer.player_opponent}</td>
			            <td> : </td>		            
			            <td>{resultplayer.name}</td>
			            <td>{resultplayer.result_myteam}</td>
			         </tr>		
				</f:for>
					<tr>
						<th></th>
						<th></th>
						<th>{result_opponent_total}</th>
						<th> : </th>
						<th>{result_myteam_total}</th>
						<th></th>
					</tr>
			</table>
		</div>
    </f:else>
</f:if>
<p><f:link.action class="btn btn-default" action="index" arguments="{saison : saison, round : round}"><< zurück</f:link.action></p>
<h4>Erreichte Punkte</h4>
	<div class="table-responsive">
		<table class="table">
		  <tr>
		   <th align="left">
		    Name
		   </th>
		   <th align="left">
		    Spiele
		   </th>
		   <th align="left">
		    Punkte
		   </th>
		   <th align="left">
		    Prozent
		   </th>
		  </tr>
		  <f:for each="{rangplayers}" as="rangplayer">
		  	<f:if condition="{rangplayer.name} != 'unbesetzt'">
			  	<tr>
			  		<td>{rangplayer.name}</td>
			  		<td>{rangplayer.countMatch}</td>
			  		<td>{rangplayer.scoreTotal}</td>
			  		<td>{rangplayer.procent}</td>
			  	</tr>
		  	</f:if>	  	
		  </f:for>
		</table>
	</div>
<p><f:link.action class="btn btn-default" action="index" arguments="{saison : saison, round : round}"><< zurück</f:link.action></p>

</html>

